* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background-color: #0a005b;
  color: #fff;
  height: 10%;
}

.logo {
  display: flex;
  width: 22%;
  justify-content: space-between;
}

.logo img {
  width: 2em;
}

.logo h1 {
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #0066cc;
}

h1 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 5em;
}

.games {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.play {
  margin-top: 2em;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.climate,
.cyberSecurity {
  width: 40%;
  background-color: #9accff;
  padding: 3em 2em;
  border-radius: 10px;
}

.cyberSecurity p,
.climate p {
  margin-bottom: 2em;
}

.climateQuestion h3,
.cyberQuestion h3 {
  margin-bottom: 0.5em;
}

.climateQuestion p,
.cyberQuestion p {
  margin-bottom: 0.5em;
}

.climateQuestion button,
.cyberQuestion button {
  margin-top: 0.5em;
}

.game-btn {
  background: #1e90ff;
  text-decoration: none;
  color: #000;
  padding: 0.6em 2em;
  border-radius: 10px;
}

.game-btn:hover {
  background: #0066cc;
}

.quiz {
  margin-top: 5em;
  width: 80%;
}

.takeQuiz {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3em;
}

/* Style your quiz form */
form {
  padding: 20px;
  background-color: #f7fafc;
  border-radius: 10px;
}

/* Style your buttons */
button[type="submit"],
.next,
.prev {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effects */
button[type="submit"]:hover,
.next:hover,
.prev:hover {
  background-color: #45a049;
}

/* Attractive slide section */
/* .slider {
    display: flex;
    overflow-x: auto;
  }
  
  .slide {
    flex: 0 0 auto;
    padding: 20px;
    display: none;
  } */

.active {
  display: block;
}

.quiz-section {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.question {
  display: none;
}
#quizform {
  background-color: #99dbfc;
}
form {
  background-color: #9fdfff;
}

/* Styles for buttons */
button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5e5e0b;
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3f3f00;
}

/* Greenish hover effect for questions */
.question p:hover {
  color: #0f5d85;
  cursor: pointer;
  transition: color 0.3s ease;
}
